extends header

block content

    h1="Datos producto"

    if datos.length > 0

        ul
            each pruduct in datos
                li= pruduct.title
                li= pruduct.price
                img(src=li= pruduct.thumbnail class="imgTable")
    else
        h2="No hay productos cargados."